<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ app_name }}</title>
</head>
<body>
  <h1>{{ app_name }}</h1>
  <p>Environnement : {{ env }}</p>
  <p>Déployé par : {{ author }}</p>
  <p>Titre pédagogique : {{ page_title }}</p>
  <p>Utilisateur système : {{ app_user }}</p>
</body>
</html>